{% load static %}

<!doctype html>
<html lang="es">
  <head>
    <title> Iniciar Sesión</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  </head>
  <body style="background-color:gray;">
    <div class="container bg-dark">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-sm-10 col-md-9 col-lg-6 col-xl-7">
                <div style="padding-top: 20%; padding-bottom: 20%;" class="container bg-dark">
                    <section style="text-align: center;" >
                        <h1 style="color:white;"> Iniciar Sesión </h1>

                        <form action="{% url 'user'%}">                
                            <div class="form-group">
                                <label for="#Correo_Electronico" style="color:white;">Email: </label>
                                <input type="email" class="form-control" name="#Correo_Electronico" id="Correo_Electronico" placeholder="Ingresa tu email" autocomplete="on">
                                <h6 id="vacio1" class="bg-danger" style="color: yellow; display: none;"> Debe ingresar 
                                    un correo electrónico</h6>
                                <h6 id="error1" class="bg-danger" style="color: yellow; display: none;"> Correo electrónico
                                    no válido</h6>
                                <div class="invalid-feedback">
                                    Debe ingresar su correo_electronico, es OBLIGATORIO, ej: ejemplo@gmail.com
                                </div>
                            </div>    

                            <div class="form-group">
                                <label for="#Contraseña" style="color:white;">Contraseña: </label>
                                <input type="password" class="form-control" name="#Contraseña" id="Contraseña" placeholder="Ingresa tu Contraseña" autocomplete="on">
                                <h6 id="vacio2" class="bg-danger" style="color: yellow; display: none;"> Debe ingresar 
                                una contraseña</h6>
                            <div class="invalid-feedback">
                                Debe ingresar una contraseña, es OBLIGATORIO
                            </div>
                                <label for="password"></label>
                                <input  type="checkbox" id="mostrar_contrasena"/>
                                <a style="color:white;">Mostrar Contraseña</a>
                            </div>
                        </form>
                        <div>
                            <a href="{% url 'user'%}"class="btn btn-success" id="btnIngresar" style="color:white;">Iniciar</a>
                        </div>
                        <br>
                        <div>
                        <a style="color:white;">¿No tienes cuenta? <a href="{% url 'formulario'%}">Crear Cuenta</a></a>
                        <br>
                        <a href="{% url 'index'%}">Volver al Inicio</a>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script type="text/javascript" src='{% static "js/iniciarSesion.js" %}'></script>
  </body>